#cards {
  /* 使用flex來佈局 */
  display: flex;
  /* 版面換行 */
  flex-wrap: wrap;
  /* 新增：寬度和標頭一致 */
  width: 85%;
  /* 新增：置中 */
  margin: 0 auto;
}

.card {
  /* 每個 item 分配容器寬度 */
  /* flex 是一個縮寫，依序代表： 
    flex-basis: 7%; >> 控制 item 在容器裡佔的寬度
    flex-grow: 0; >> 若有剩餘空間是否分配
    flex-shrink: 1; >> 若空間不足是否做收縮*/ 
  flex: 7% 1 1;
  /* 依視窗的寬度等比例變化 */
  height: 8vw;
  border: 3.5px solid salmon;
  /* 為了要控制 .card 內部的數字和花色，也讓 .card 變成一個 flex 容器 */
  display: flex;
  /* 排序從上到下，再從左到右。*/
  flex-direction: column;
  /* 用 space-around 的設定，讓元素聚集在中間，且保持均分的間隔 */
  justify-content: space-around;

  margin: 2px;
  box-sizing: border-box;
}
/* 調整花色大小以及置中 */
.card img {
  max-width: 30%;
  align-self: center;
}
/* 調整字體大小 */
.card p {
  margin: 3px;
  font-size: 20px;
}
/* 將右下角字體反轉 */
.card p:last-child {
  transform: rotate(180deg);
}
/* 新增牌背樣式 */
.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}
/* 配對成功換底色 */
.paired {
  background-color: #dae0e3;
}
/* 標題的部分 */
#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}
/* 加入失敗動畫 */
.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}